header {
        padding: 50px;
        text-align: center;
        margin-bottom: 3px;
}

body {
        font-family: Consolas, Arial;
}

/*grid*/
.grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: 1fr 1fr 1fr;  
        grid-template-areas: 
                        "videos videos"
                        "headshot intro"
                        "projects projects";   
        gap: 5px;
}

/*making the YT embed responsive*/
.videos {
         grid-area: videos; 
         margin-top: 2em;
         overflow: hidden;
}

iframe {
        display: block;
        width: 450px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
}

.headshot {
        grid-area: headshot;
}
   
img { 
      display: block;
      max-width: 50%;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 10px;
}

.intro {
        grid-area: intro;
        width: 100%;
        height: auto;
        margin: auto;
        padding: 40px;
}

.projects {
        grid-area: projects;
        width: 100%;
        margin-top: 2em
}

.footer {
        table-layout:auto;
        width: 50%
}

/*making grid responsive for phone-tablet*/
@media only screen and (min-width: 575px){
        .grid { 
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                grid-template-areas: 
                        "videos"
                        "headshot"
                        "intro"
                        "projects";
        }
}